@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
        Layout = "~/Views/_LayoutPage1.cshtml";

}

<h1 class="text-danger">Usuario o Contraseña Invalidos.</h1>

@Html.ActionLink("Login","Login","Login",new {@style="color:White;background-color:blue;margin:600px;"})

